*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: #f5f5f5;
}

/* HEADER */
header{
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 22px;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: #ffbd59;
}

.menu-btn{
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* SECTIONS */
.section{
    padding: 50px 10%;
}

.section h2{
    margin-bottom: 20px;
    color: #333;
}

/* CARDS PROJETS */
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}

.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #ffbd59;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

/* FORMULAIRE CONTACT */
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

input, textarea{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button{
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #ffbd59;
    color: black;
}

/* RESPONSIVE */
@media(max-width: 780px){
    nav ul{
        display: none;
        flex-direction: column;
        background: #222;
        padding: 10px;
    }
    nav.open ul{
        display: flex;
    }
    .menu-btn{
        display: block;
    }
}

.img-td1 {
    width: 150px;      /* tu peux mettre 200px, 150px, etc */
    border-radius: 10px;
}
